.div01 {
    background-color: red;
    width: 50px;
    height: 50px;
    border: 2px solid green;
    margin-top: 100px;
}

.div02 {
    background-color: #000;
    width: 50%;
    height: 50vh;
    border: 10px dashed red;
    margin: 100px 0 0 100px;
    
}