.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: rgb(202, 125, 247);
}

.container div:first-child {
    width: 250px;
    height: 100%;
    background-color: #FFCBDB;
    border: 20px dashed red;
}

.container div:last-child {
    width: 30%;
    height: 88%;
    background-color: #7FFFD4;
}